{% extends 'base.html' %}

{% block content %}
<div class="col md-9">
    <div class="card mt-3 mb-3">
        <div class="card-header">
            Категория: <a href="/category/{{ item.category_id }}/">{{ item.category }}</a>
        </div>
        <div class="card-body">
            <div class="media">
                {% if item.photo %}
                <img src="{{ item.photo.url }}" alt="" height="300">
                {% else %}
                <img src="https://placebeard.it/300x300" alt="">
                {% endif %}
            </div>
            <h5 class="card-title">{{ item.title }}</h5>
            <p class="card-text">{{ item.content }}</p>
        </div>
        <div class="card-footer text-body-secondary">
            {{ item.created_at|date:"d.m.Y H:i" }}
        </div>
    </div>
    {{ info }}
</div>
{% endblock %}

{% block title %}
{{ item.title }}
{% endblock %}

{% block header %}
{{ item.title }}
{% endblock %}